h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.stickynav {
    background: black;
}

.wy-side-nav-search {
    background-color: rgb(82, 82, 82);
}

.wy-nav-top {
    background-color: rgb(82, 82, 82);
}